
__pycache__
HiyokoScript.build
HiyokoScript.dist
HiyokoScript.onefile-build
HiyokoScriptGUI.build
HiyokoScriptGUI.dist
HiyokoScriptGUI.onefile-build
HiyokoScriptEditor.build
HiyokoScriptEditor.dist
HiyokoScriptEditor.onefile-build
voice 
dist

picture/*.psd
picture/*.png
!picture/HiyokoScriptGUIHeader.png

error-log-*.txt
*.mp3.lwi
*.spec
*.psd
*.exo
*.pyc
*.exe
*.zip

ffmpeg.exe
ffplay.exe
ffprobe.exe
history.gui.json
history.editor.json
